name: Release

on:
    push:
        branches:
            - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

permissions:
    id-token: write
    contents: write
    pull-requests: write

jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v2

            - name: Setup pnpm 10
              uses: pnpm/action-setup@v2
              with:
                  version: 10

            - name: Setup Node.js 24.x
              uses: actions/setup-node@v2
              with:
                  node-version: "24"
                  registry-url: "https://registry.npmjs.org"

            - name: Install Dependencies
              run: pnpm i

            - name: Create Release Pull Request or Publish to npm
              id: changesets
              uses: changesets/action@v1
              with:
                  publish: pnpm release
                  commit: "chore: release"
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
